@import "tailwindcss";

html, body {
    background-color: #222222; /* Dark grey background */
    color: #fff; /* White text */
    font-size: 18px;
}

@theme {
    --color-primary-100: #C4E79A;
    --color-primary-200: #94C160;
    --color-primary-300: #6B9A33;
    --color-primary-400: #477413;
    --color-primary-500: #294D00;

    /* Secondary color 1 (terracotta/red) */
    --color-secondary-100: #FFBCAA;
    --color-secondary-200: #D4806A;
    --color-secondary-300: #AA5039;
    --color-secondary-400: #802B15;
    --color-secondary-500: #551200;

    /* Secondary color 2 (purple) */
    --color-accent-100: #A071A8;
    --color-accent-200: #82478C;
    --color-accent-300: #652770;
    --color-accent-400: #4A1054;
    --color-accent-500: #300138;
}

